<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!--<meta http-equiv="refresh" content="5">-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Finances Manager</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  {% include 'partials/header.html' %}
  <div class="container">
    <form action="/login" method="post" class="login">
      <div class="input">
        <label for="email">E-MAIL</label>
        <input type="email" name="email" id="email" autofocus="True">
      </div>
      <div class="input">
        <label for="password">SENHA</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="input">
        <input type="submit" value="ENTRAR" class="submit">
      </div>
    </form>
  </div>
</body>
</html>